<title>Transportadoras Filiadas</title>

<h2>Transportadoras Filiadas</h2>

<nav>
<%= link_to "Cadastrar uma nova Transportadora", new_shipping_company_path%>	
</nav>

<div>
	<%if @shipping_companies.any?%>
		
		<%@shipping_companies.each do |s|%>
			<div>
				<dl>
					<dt>
						Nome:
					</dt>
					
					<dd>
						<%= s.corporate_name%>
					</dd>
					
					<dt>
						Número de registro:
					</dt>
					
					<dd>
						<%= s.registration_number%>
					</dd>
				</dl>
			</div>
		<%end%>

	<%else%>
		
		<p>Nenhuma transportadora cadastrada</p>
	
	<%end%>
</div>