<title>Transportadoras Filiadas</title>

<h2>Transportadoras Filiadas</h2>

<nav>
<%= link_to "Cadastrar uma nova Transportadora", new_shipping_company_path%>	
</nav>

<div>
	<%if @shipping_companies.any?%>

		<%@shipping_companies.each do |s|%>
			<div>
				<table>
					<tr>
						<td>Nome</td>
						<td>Número de registro</td>
					</tr>
					
					<tr>
						<td><%= link_to s.corporate_name, s%></td>
						<td><%= s.registration_number%></td>
					</tr>
				</table>
			</div>
		<%end%>

	<%else%>
		
		<p>Nenhuma transportadora cadastrada</p>
	
	<%end%>
</div>

<%= link_to "Voltar para a página inicial", root_path%>