<h2>Transportadora <%=  @shipping_company.corporate_name%></h2>

<dl>
	<dt>
		Razão Social
	</dt>

	<dd>
		<%= @shipping_company.brand_name%>
	</dd>
	
	<dt>
		Número de Documentação
	</dt>

	<dd>
		<%=@shipping_company.registration_number%>
	</dd>
	
	<dt>
		Endereço de faturameno
	</dt>

	<dd>
		<%=@shipping_company.billing_address%>
	</dd>
</dl>