<title>Stay Night</title>

<nav>
	<%= link_to "Entrar como Administrador", shipping_companies_path%> |
	<%= link_to "Entrar como colaborador de uma Transportadora"%> |
	<%= link_to "Rastrear um pedido"%>
</nav>
<br>
<div>
	<p>A Stay night é uma plataforma digital fundada com o objetivo de melhor atender sua 
	demanda da melhor maneira e com preço acessível.</p>
</div>

