<title>Stay Night</title>

<div>
	<p>A Stay night é uma plataforma digital fundada com o objetivo de melhor atender sua 
	demanda da melhor maneira e com preço acessível.</p>
</div>

<div>
	<%if admin_signed_in?%>
		<h2>Acessar transportadoras</h2>
			<%= link_to "Transportadoras",shipping_companies_path%>
	<% elsif user_signed_in?%>
			<h2>Acessar a transportadora</h2>
			<%= link_to "Transportadora"%>
	<% end %>
</div>