<title>Stay Night</title>
<h1>Stay Night</h1>

<nav>
	<%= link_to "Entrar como Administrador"%>
	<%= link_to "Entrar como colaborador de uma Transportadora"%>
</nav>

<div>
	<p>A Stay night é uma plataforma digital fundada com o objetivo de melhor atender sua 
	demanda da melhor maneira e com preço acessível.</p>
</div>