<title>Resultado do orçamento</title>

<h2>Resultado do orçamento</h2>

<div>
	<table>
		<tr>
			<td>Nome da Transportadora</td>
			<td>Preço</td>
			<td>Prazo</td>
		</tr>		
			<% @data.each  do |datas|%>
				<tr>	
				<td>Transportadora <%= datas[2]%></td>
				<td>
					<%= number_to_currency(datas[0])%>	
				</td>
				<td><%= datas[1]%> dia(s) úteis</td>
			<%end%>
		</tr>
	</table>
</div>